:root {
    --primary-color: #200563; 
    --secondary-color: #5614f0; 
    --input-background-color: #e8e4f0; 
    --button-color: #5614f0; 
    --button-hover-color: #200563; 
    --label-color: #5614f0; 
    --text-color: #000000; 
    --icon-color: #5614f0; 
}